@font-face {
  font-family: OffBit-Regular;
  src: url('/src/assets/fonts/OffBit-Regular.ttf');
}

@font-face {
  font-family: OffBit-DotBold;
  src: url('/src/assets/fonts/OffBit-DotBold.ttf');
}

$font-text: Arial, sans-serif;
$font-regular: 'OffBit-Regular', sans-serif;
$font-bold: 'OffBit-DotBold', sans-serif;

$background-color: #f8f8e7;
$text-color: black;
$secondary-color: #9f9f9f;

[data-theme='dark'] {
  --background-color: black;
  --text-color: #f8f8f8;
  --secondary-color: #9f9f9f;
}

$main-blue: #004e89;
$secondary-blue: #1a659e;
$main-orange: #ff6b35;
$secondary-orange: #f7c59f;
